*{
    margin: 0;
    padding: 0;
    --main-color: rgb(248, 244, 244);
    --site-color:  rgb(180, 44, 90);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 5px;
}
img{
    border-radius: 3px;
}
.contact-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    font-size: .8rem;
    line-height: 1.3;
    background: lightgray;
}
.hours{
    text-align: right;
}
.contact-details a{
    text-decoration: none;
    color: var(--site-color);
}
.main-header{
   /* display: grid;
   grid-template-columns: 1fr 1fr; */
   padding: 80px 0;
   background-image: url(images/banner-background.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}
.masthead{
    margin: auto;
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
}
.masthead::after{
    content: "For all your formal wear needs, with love";
    display: block;
    font-style: italic;
    font-size: .8rem;
    padding: 10px 0;
    font-weight: 600;
    color: rgb(180, 44, 90);
}
.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 16px;
    margin: 0 auto;
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.main-nav a{
   text-decoration: none;
   color: var(--site-color);
   padding-right: 30px;
   font-size: 1.2rem;
}
.toggle-link{
    display: none;
}
.contact-link{
    display: none;
}
.logo img{
    display: block;
    max-width: 100%;
    width: 150px;
    margin: 10px auto;
}
.wrapper{
    margin: 20px 0;
}
.section-title{
    font-size: 1.6rem;
    text-align: center;
    border-top: 1px solid var(--site-color);
    border-bottom: 1px solid var(--site-color);
    padding: 20px 0;
}
.product, .photo-booth-description, .photo-booth-slides, .testimonials, .about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 20px auto;
    padding: 20px;
    grid-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo-booth-description img, .photo-booth-slides img, .about img{
    width: 100%;
}
.product img{
    max-width: 500px;
    width: 100%;
}
.product-title{
    padding: 10px;
    border-top: 1px solid var(--site-color);
}
 #product-section p, #photo-booth-section p, #about-section p, #testimonial-section p{
    padding: 10px;
    line-height: 1.6;
    max-width: 500px;
    font-size: 105%;
}
.product-thumbnails{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
    padding: 10px;
    margin: 10px auto;
}
.product-thumbnails img{
    display: block;
    width: 100px;
}
.testimony:nth-child(even){
    background: lightgray;
    color: var(--site-color);
}
footer{
    margin:20px auto;
}
footer p{
    text-align: center;
    padding: 20px;
}
@media only screen and (max-width: 586px){
    .contact-details{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
        font-size: .8rem;
        line-height: 1.3;
        margin: 0 auto;
    }
    footer .contact-details{
        padding: 20px;
    }
    .main-header{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 35px 0;
     }
    .toggle-link{
        display: inline;
        cursor: pointer;
        color: var(--site-color);
        font-size: 1.2rem;
    }
    .main-nav{
        flex-direction: column;
        padding-left: 0;
    }
    .nav-link{
        display: none;
        padding: 8px 0;

    }
    .show-link{
        display: inline-block;
    }
    .contact-link{
        display: inline;
    }
    .hours, .shop-location{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .masthead{
        text-align: left;
    }
}
@media only screen and (min-width: 800px){
    .contact-details{
        padding: 10px 0;
    }
    .shop-location, .hours{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}